*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(132deg, rgb(251, 251, 255) 0.00%, rgb(215, 223, 252) 100.00%);
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.calc{
    height:300px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:10px;
}
.calc:hover{
    transform: scale(1.02);
}
input{
    padding: 5px;
    height: 50px;
    border: 1px solid black;
}
.btn{
    height:40px;
    margin-top: 20px;
    background-color: white;
    color:black;
    border: 1px solid black;
}
.btn:hover{
    background-color:beige;
    transform: scale(1.01);
}
.result{
    font-size: larger;
}